// Global styles goes here
html,body{
    height: 100%;
}

.body-wrapper{
    padding: 40px 50px 50px 50px;
    width: 100%;
    flex-wrap: wrap;
}

.subtitle{
    font-size: 0.75rem;
    color: $tertiary;
}