.stats-chart{
    position: relative;
}
.stats-content{
    border-radius: $rounded-3;
    width: 25px;
}
.container-1-h{
    height: 80px;
}
.container-2-h{
    height: 150px;
}
.container-3-h{
    height: 120px;
    background-color: $card-sm-bg-secondary;
}

